html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/*NAVBAR STYLING*/

.navbar {
    color: #FFFFFF;
    background: #1F1A38;
    min-height: 48px;
    padding: 10px 25px;
    border-bottom: 5px solid #F4743B;
    border-image: linear-gradient(to right, #ffac89, #ff5100) 1;


    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 2;
}

.left-links {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.right-links {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
    gap: 50px;
    text-align: center;
}

.right-links div {
    border: 1px solid white;
    border-radius: 25px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    background: white;
    color: black;
    font-weight: 700;
}

.right-links div:hover {
    background: #F4743B;
    color: white;
    border: 1px solid #F4743B;
}

.logo-image {
    max-height: 48px;
}

.brand-name {
    font-weight: 800;
    font-size: 28px;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

.brand-name:hover {
    animation: tilt-shaking 0.25s ease 3ms; /* Apply the animation on hover */
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

/*HERO SECTION STYLING*/

.section {
    padding: 25px 50px 40px 30px;
    min-height: 300px;
}

.hero {
    background: #F4743B;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.all-images-img {
    height: 600px;
    width: 600px;
    padding-left: 50px;
}

.images {
    width: 100%;
}


.hero .text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-heading {
    font-size: 64px;
    font-weight: 800;
    color: white;
}

.section-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    color: white;
}

.hero .section-heading {
    text-align: right;
}

.hero .section-text {
    text-align: right;
}

/*ASSURANCE SECTION STYLING*/

.assurance {
    background-image: url('./assets/rainbow.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    gap: 75px;
    align-items: center;
    justify-content: center;
}

.assurance .section-heading {
    width: 100%;
}

.assurance .section-text {
    width: 100%;
}

/*READ/WRITE SECTION STYLING*/

.read-write {
    background: #CA054D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.read-image {
    max-height: 150px;
}

.write-image {
    max-height: 120px;
}

.choices {
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.card {
    background: #EDF0DA;
    max-width: 300px;
    min-height: 200px;

    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: transform 0.1s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card .heading {
    margin-top: 16px;
    font-weight: 800;
    font-size: 36px;
}

.card-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    width: 60%;
}

.read-link, .write-link {
    margin-top: 20px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px ;
}

.read-link:hover, .write-link:hover {
    text-decoration-style: wavy;
}

/*CTA SECTION STYLING*/

.cta {
    background: #1F1A38;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.icon {
    max-height: 72px;
}

.cta-choices {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.insta-div, .discord-div, .question-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: transform 0.1s ease-in-out;
}

.insta-div:hover, .discord-div:hover, .question-div:hover {
    transform: scale(1.05);
}

.cta-heading, .cta-text {
    color: white;
}

.cta-heading {
    font-weight: 700;
    font-size: 20px;
}

.cta-text {
    width: 70%;
    font-size: 16px;
}

/*FOOTER STYLING*/

.footer {
    background: #F4743B;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.page-links {
    display: flex;
    justify-content: space-around;
}

.faqs, .resources, .contact {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.faqs:hover, .resources:hover, .contact:hover {
    text-decoration-style: wavy;
}

.branding {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.footer .logo-image {
    max-height: 32px;
}

.footer .brand-name {
    font-size: 20px;
}