html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

/*NAVBAR STYLING*/

.navbar {
    color: #FFFFFF;
    background: #1F1A38;
    min-height: 80px;
    padding: 10px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-links {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.right-links {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    justify-content: space-between;
}

.logo-image {
    max-height: 64px;
}

.brand-name {
    font-weight: 800;
    font-size: 40px;
}

/*hero SECTION STYLING*/

.hero {
    background: #F4743B;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 25px;
    min-height: 500px;

    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.all-images-img {
    max-width: 650px;
}

.images {
    width: 100%;
}

.hero .text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero .section-heading {
    font-size: 72px;
    font-weight: 800;
    text-align: right;
}

.hero .section-text {
    font-size: 22px;
    text-align: right;
    font-weight: 600;
    line-height: 50px;
}